/* Profile */
.profile {
    border-style: solid;
    border-color: $light-gray;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border-radius: 50%;
}

/* Profile */
.profile-box {
    outline: lighten($resume-purple, 42%) dashed;
    outline-offset: 5px;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 33.33%;
    p {
      margin-block-start: 0;
      margin-block-end: 0;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

// adjust tile sizes on smaller screens
@include media-query($on-phone) {
  @media screen and (max-width: $on-phone){

    .profile {
      width: 40%;
    }

  }
}
