<ul class="timeline">
{% for exp in section %}
  <li class="timeline-inverted">
  {% if exp.started %}
    <div class="timeline-badge info">{{ exp.started }}</div>
  {% endif %}
    <div class="timeline-panel grid-block">
      <div class="timeline-heading">
      {% if exp.organization %}
        <h4 class="timeline-title">
          <a href="{{ exp.url }}">{{ exp.organization }}</a></h4>
      {% elsif exp.company %}
        <h4 class="timeline-title">
          <a href="{{ exp.url }}">{{ exp.title }}</a></h4>
      {% endif %}
      <p>
        <small class="text-muted">
        {% if exp.company %}
        {{ exp.company }}
        {% elsif exp.organization %}
          {{ exp.title }},
        {% endif %}
        {% if exp.major %}
          {{ exp.major }}
        {% endif %}
        </small>
      </p>
      <p>
        <small class="text-muted">
        {% if exp.duration %}
          <span class="fa fa-calendar"></span>
          {{ exp.duration }} |
        {% endif %}
        {% if exp.location %}
          <span class="fa fa-map-marker"></span>
          {{ exp.location }}
        {% endif %}
        </small>
      </p>
    </div>
    <div class="timeline-body">
    {% if exp.description %}
      <p>{{ exp.description }}</p>
    {% endif %}
    </div>
  </div>
</li>
{% endfor %}
</ul>
