---
layout: default
---

{% if page.profile %}
    {% if page.profile.image %}
      <img class="profile float-end"  width="33.33%"
      src="{{ page.profile.image | prepend: '/assets/images/'
      | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
{% endif %}

{{ content }}

<div class="profile-box float-start">
  <p>
    <small><a href="https://moreprideemojis.com/flags/asexual.html">more
    pride emojis</a></small>
  </p>
  <p style="margin-left:20px">
    ☢❔👾💣
    <small> #EnbyFlagEmoji‍ #AceFlagEmoji </small>🖤🐘🤍💜
  </p>
</div>

Extra Content
